@model AdvancedForms.ViewModels.AdvancedFormViewModel

<style asp-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" debug-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
@*<style asp-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.css" debug-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.css"></style>*@
@*<script asp-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js" debug-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>*@

<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>


@{
    var standardComp = "{components:this.formioComponents}";
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">
    window.onload = function () {
        let formioComponents;
        Formio.builder(document.getElementById('builder'),

                @if (String.IsNullOrEmpty(Model.Container))
                {
                   @standardComp
                }
                else
                {
                    @Html.Raw(Model.Container)
                }
            )
            .then(function (builder) {
                builder.on('saveComponent', function () {
                  document.getElementById('Container').value = JSON.stringify(builder.schema);
                });
            });
    };
</script>

<h1>@T["Advanced Form Module"]</h1>
<br />

<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main"></form>

<div>
    <label asp-for="Title">@T["Title"]</label>
    <input asp-for="Title" class="form-control content-preview-text content-caption-text" autofocus="autofocus" form="main" />
    <span class="hint">@T["The title of the form."]</span>
    <br />
    <br />
</div>

<div>
    <label asp-for="Description">@T["Description"]</label>
    <textarea asp-for="Description" class="form-control content-preview-text content-caption-text" form="main"></textarea>
    <span class="hint">@T["The Description of the form."]</span>
    <br />
    <br />
</div>

<div>
    <label asp-for="Instructions">@T["Instructions"]</label>
    <textarea asp-for="Instructions" class="form-control content-preview-text content-caption-text" form="main"></textarea>
    <span class="hint">@T["The instructions for the form."]</span>
    <br />
    <br />
</div>

<div id='builder'></div>
<input type="hidden" asp-for="Container" form="main" />

<br />
<br />

<button form="main" type="submit" name="submit.Publish" class="publish-button btn btn-success" value="submit.Publish">@T["Publish"]</button>

@if (isEdit)
{
    var returnUrl = Context.Request.Query["returnUrl"];
    <button form="main" type="submit" name="submit.Save" class="primaryAction btn btn-primary" value="submit.Save">@T["Save Draft"]</button>      
    @if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl))
    {
        <a id="button-cancel" href="@returnUrl" class="btn btn-secondary">@T["Cancel"]</a>
    }
}
<input type="hidden" asp-for="Id" form="main" />
