@model AdvancedForms.ViewModels.AdvancedFormViewModel

<style asp-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" debug-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>


@{
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">
    window.onload = function() {
        Formio.createForm(document.getElementById('formio'), 
            //create the form from saved data
            @Html.Raw(Model.Container)
        ).then(function(form) {
          //fill form data
          form.submission = {
            //data: {
            //  firstName: 'Joe',
            //  lastName: 'Smith'
            //}
          };

          // Register for the submit event to get the completed submission.
          form.on('submit', function(submission) {
            console.log('Submission was made!', submission);
            //window.location.replace("http://stackoverflow.com");

              $.ajax({
                  url: 'Entry',
                  method: 'POST',
                  data: {
                      __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                      submission: JSON.stringify(submission),
                      title: '@Model.Title',
                      id: '@Model.Id'
                  },
                  success: function (data) {
                     
                  },
                  error: function (error) {
                      var errorMsg = "Unable to Save. Try again later.";
                      $('<div class="alert alert-danger" role="alert"></div>').text(errorMsg + error.responseText).appendTo($('#advancedForm-errors'));
                  }
              });

          });

          // Everytime the form changes, this will fire.
          form.on('change', function(changed) {
            console.log('Form was changed', changed);
          });
        });
      };

       
</script>

<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main"></form>

<h1>@Model.Title</h1>
    
<div>
    @Html.LabelFor(model => model.Description)
    <br />
    @Html.Raw(Model.Description)
    <br />
    <br />
</div>

<div>
    @Html.LabelFor(model => model.Instructions)
    <br />
    @Html.Raw(Model.Instructions)
    <br />
    <br />
</div>

<div id="advancedForm-errors"></div>

<div id='formio'></div>

<input type="hidden" asp-for="Container" form="main" />
<input type="hidden" asp-for="Id" form="main" />
