@model AdvancedForms.ViewModels.AdvancedFormViewModel

<style asp-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" debug-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>

@{
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">
    window.onload = function() {
        Formio.createForm(document.getElementById('formio'),
            //create the form from saved data
            @Html.Raw(Model.Container)
            @if (Model.EntryType == AdvancedForms.Enums.EntryType.View)
            {
                string readOnly = ",{readOnly: true}";
                @Html.Raw(readOnly);
            }
        ).then(function(form) {
                //fill form data
                form.submission = {
                    @if (!String.IsNullOrEmpty(Model.SubmissionId))
                    {
                        string submission = "data:" + Html.Raw(Model.Submission);
                        @Html.Raw(submission);
                    }
                };

                // Register for the submit event to get the completed submission.
                form.on('submit', function(submission) {
                    console.log('Submission was made!', submission);

                $.ajax({
                  url: '/AdvancedForms/Entry',
                  method: 'POST',
                  data: {
                      __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                      submission: JSON.stringify(submission),
                      title: '@Model.Title',
                      id: '@Model.Id',
                      container: document.getElementById('Container').value
                  },
                  success: function (data) {
                      window.location.replace("/submission-confirmation");
                 },
                  error: function (error) {
                            var errorMsg = @T["'Unable to Save. Try again later.'"];
                      $('<div class="alert alert-danger" role="alert"></div>').text(errorMsg + error.responseText).appendTo($('#advancedForm-errors'));
                        }
                    });

                });
            });
      };

    function printButton() {
        window.open(window.location.href.toLowerCase().replace('/edit/', '/print/').replace('/view/', '/print/'), '_blank');
    };
</script>


<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main"></form>

<div>
    <h1>
        @Model.Title
        @if (Model.EntryType == AdvancedForms.Enums.EntryType.View || Model.EntryType == AdvancedForms.Enums.EntryType.Edit)
        {
            <a class="fa fa-print" style="font-size:36px" onclick="printButton();" href="#"></a>
        }
    </h1>
</div>
<div>
    @Html.LabelFor(model => model.Description)
    <br />
    @Html.Raw(Model.Description)
    <br />
    <br />
</div>

<div>
    @Html.LabelFor(model => model.Instructions)
    <br />
    @Html.Raw(Model.Instructions)
    <br />
    <br />
</div>

<div id="advancedForm-errors"></div>

<div id='formio'></div>

<input type="hidden" asp-for="Container" form="main" />
<input type="hidden" asp-for="Id" form="main" />
